
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <img src="/images/{{value.name}}.jpeg" alt="{{value.name}}" style="width:300px;height:220px" align="left" hspace="10">
        <h2>{{value.name}}-{{value.model}} </h2> <p>{{stock}}</p>
        <p>
          MSRP ($): {{value.price}} <br/>
          Model : {{value.model}} <br/>
          Make : {{value.year}} <br/>
          Top Speed (mph) : {{value.topSpeed}} <br/>
          Miles per Gallon : {{value.mpg}} <br/>
        </p>
        <p><a class="btn btn-primary" href="http://localhost:8080/ecomm/" role="button">Buy Now</a></p>
    </div>
  </div>
</div>
      