
  <div class="row">
    <div class="col-lg-12">
      <ul>
        <li ng-repeat="v in value">
        <p>Model No - <b>{{v.model}}</b> Serial No - <b>{{v.serial}}</b> Count - <b>{{v.inventory}}</b> <a class="btn btn-danger" href="/edit/{{v.serial}}">delete</a></p>
        </li> 
<!--         <p>Add new machine:</p>
        <form name="myForm" ng-submit="reg()">
          Serial No: <input type="text" ng-model="machine.serial"/>
          Model No: <input type="text" ng-model="machine.model"/>
          Count: <input type="text" ng-model="machine.count"/>
       
        <a class="btn btn-primary" href="/add" >Add</a> -->
      </ul>
    </div>
  </div>

      