
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <ul>
        <li ng-repeat="router in value">
        <img src="/images/{{router.model}}.jpeg" alt="{{router.model}}" style="width:150px;height:110px" align="left" hspace="10">
        <h2>{{router.name}}-{{router.model}}</h2>
        <p>MSRP : {{router.price}}</p>
        <p><a class="btn btn-primary" href="/store/routers/{{router.routerid}}" role="button">View details &raquo;</a></p>
        </li>
      </ul>
    </div>
  </div>
</div>
      