
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <img src="/images/{{value.model}}.jpeg" alt="{{value.model}}" style="width:300px;height:220px" align="left" hspace="10">
        <h2>{{value.name}}-{{value.model}}</h2>
        <p>
          Brand : {{value.name}} <br/>
          Model : {{value.model}} <br/>
          Wifi Technology : {{value.tech}} <br/>
          Supported OS : {{value.os}} <br/>
          Ports : {{value.ports}} <br/>
          MSRP ($) : {{value.price}}
        </p>
    </div>
  </div>
</div>
      