
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <img src="/images/{{value.name}}.jpeg" alt="{{value.name}}" style="width:300px;height:220px" align="left" hspace="10">
        <h2>{{value.name}}-{{value.model}}</h2>
        <p>
          Brand : {{value.name}} <br/>
          Model : {{value.model}} <br/>
          Size : {{value.size}} inches <br/>
          Weight : {{value.weight}} lbs<br/>
          HD enabled : {{value.hd}} <br/>
          Refresh rate : {{value.ref}} fps <br/>
          MSRP ($) : {{value.price}}
        </p>
    </div>
  </div>
</div>
      